/* Estilos básicos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, footer {
	background-color: rgba(26, 202, 26, 0.7);
	text-align: center;
	font-size: 16px;
	color: #fff;
	padding: 10px 0px;
}

footer {
	background-color: #204956;
}

.parrafo {
	width: 500px;
	background-color: #90EE90;
	color: #00f;
	text-align: center;
}

.nuevo {
	height: 50px;
	margin: 0 auto;
	background-color: #deb887;
}

.contenido {
	height: 300px;
	background-color: #ffbb00;
	text-align: center;
	color: #fff;
}

section {
	margin-top: 10px;
	border: 2px solid #1bb432;
}

article {
	width: 50%;
	height: 200px;
	display: inline-block;
	border: 1px solid #8a2be2;
	text-align: center;
	vertical-align: top;
}

img {
	width: 200px;
}

.encabezado {
	text-align: center;
	background-color: #eaf914;
	color: #046118;
}
